<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192810103553-69590ur1b80v58fisfl6o1duf39ps64q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192810103553-69590ur1b80v58fisfl6o1duf39ps64q</string>
	<key>API_KEY</key>
	<string>AIzaSyDmmVNmVL2J4Op6btLZuos6d_lcJnOUdCc</string>
	<key>GCM_SENDER_ID</key>
	<string>192810103553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lima.ricarth.flutterFirebasePalestra</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-palestra</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-palestra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192810103553:ios:4593c7ca783e831cf7e100</string>
</dict>
</plist>